@if (itemsResult() | isPending) {
  <div data-testid="album-skeleton" class="skeleton w-32 h-16 rounded-md"></div>
} @else if (itemsResult() | hasFailed) {
  <span data-testid="albums-error">
    Error: {{ itemsResult().error!.message }}
  </span>
} @else {
  <div class="flex flex-wrap gap-4">
    @for (item of itemsResult().data!; track item.name) {
      <div
        data-testid="album"
        class="flex items-center gap-2 border border-opacity-50 rounded-md pl-5 pr-6 pt-3 pb-3 hover:bg-base-300 cursor-pointer hover:underline"
        (click)="item.onClick()"
      >
        @if (item.isDir) {
          <img
            src="assets/shared/icons/folder.svg"
            class="size-6"
            alt="Folder"
          />
        } @else if (item.mimeType?.startsWith('image/')) {
          <img src="assets/shared/icons/image.svg" class="size-6" alt="Image" />
        } @else if (item.mimeType?.startsWith('video/')) {
          <img src="assets/shared/icons/video.svg" class="size-6" alt="Video" />
        } @else {
          <img src="assets/shared/icons/file.svg" class="size-6" alt="File" />
        }

        <div data-testid="album-card-name" class="text-sm">
          {{ item.name }}
        </div>
      </div>
    }
  </div>
}
