<div class="overflow-x-auto w-full">
  <table class="table">
    <thead>
      <tr>
        <th
          (click)="toggleSort('name')"
          class="cursor-pointer hover:bg-base-200 select-none"
        >
          <div class="flex items-center gap-1">
            Name
            @if (sortConfig()?.field === 'name') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th
          (click)="toggleSort('lastModified')"
          class="cursor-pointer hover:bg-base-200 select-none"
        >
          <div class="flex items-center gap-1">
            Date Modified
            @if (sortConfig()?.field === 'lastModified') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th
          (click)="toggleSort('size')"
          class="cursor-pointer hover:bg-base-200 select-none"
        >
          <div class="flex items-center gap-1">
            Size
            @if (sortConfig()?.field === 'size') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
        <th
          (click)="toggleSort('mimeType')"
          class="cursor-pointer hover:bg-base-200 select-none"
        >
          <div class="flex items-center gap-1">
            Type
            @if (sortConfig()?.field === 'mimeType') {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                @if (sortConfig()?.direction === 'asc') {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 15l7-7 7 7"
                  />
                } @else {
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  />
                }
              </svg>
            }
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      @if (itemsResult() | isPending) {
        @for (i of 10 | range; track i) {
          <tr data-testid="table-row-skeleton">
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
          </tr>
        }
      } @else if (itemsResult() | hasFailed) {
        <tr data-testid="table-row-error">
          <td colspan="2">
            <div>Error: {{ itemsResult().error! }}</div>
          </td>
        </tr>
      } @else {
        @for (item of itemsResult().data!; track item.name) {
          <tr
            class="hover:bg-base-300 cursor-pointer hover:underline"
            data-testid="table-row-album"
            (click)="item.onClick()"
          >
            <td>
              <div class="flex gap-2 items-center">
                @if (item.isDir) {
                  <img
                    src="assets/shared/icons/folder.svg"
                    class="size-6"
                    alt="Folder"
                  />
                } @else if (item.mimeType.startsWith('image/')) {
                  <img
                    src="assets/shared/icons/image.svg"
                    class="size-6"
                    alt="Image"
                  />
                } @else if (item.mimeType.startsWith('video/')) {
                  <img
                    src="assets/shared/icons/video.svg"
                    class="size-6"
                    alt="Video"
                  />
                } @else {
                  <img
                    src="assets/shared/icons/file.svg"
                    class="size-6"
                    alt="File"
                  />
                }
                <span>
                  {{ item.name }}
                </span>
              </div>
            </td>
            <td>
              @if (item.lastModified) {
                {{ item.lastModified }}
              } @else {
                -
              }
            </td>
            <td>
              @if (item.size) {
                {{ item.size }}
              } @else {
                -
              }
            </td>
            <td>
              {{ item.mimeType }}
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
