<div class="overflow-x-auto w-full">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Modified</th>
        <th>Size</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      @if (itemsResult() | isPending) {
        @for (i of 10 | range; track i) {
          <tr data-testid="table-row-skeleton">
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
            <td>
              <div class="skeleton w-auto h-8"></div>
            </td>
          </tr>
        }
      } @else if (itemsResult() | hasFailed) {
        <tr data-testid="table-row-error">
          <td colspan="2">
            <div>Error: {{ itemsResult().error! }}</div>
          </td>
        </tr>
      } @else {
        @for (item of itemsResult().data!; track item.name) {
          <tr
            class="hover:bg-base-300 cursor-pointer hover:underline"
            data-testid="table-row-album"
            (click)="item.onClick()"
          >
            <td>
              <div class="flex gap-2 items-center">
                @if (item.isDir) {
                  <img
                    src="assets/shared/icons/folder.svg"
                    class="size-6"
                    alt="Folder"
                  />
                } @else if (item.mimeType?.startsWith('image/')) {
                  <img
                    src="assets/shared/icons/image.svg"
                    class="size-6"
                    alt="Image"
                  />
                } @else if (item.mimeType?.startsWith('video/')) {
                  <img
                    src="assets/shared/icons/video.svg"
                    class="size-6"
                    alt="Video"
                  />
                } @else {
                  <img
                    src="assets/shared/icons/file.svg"
                    class="size-6"
                    alt="File"
                  />
                }
                <span>
                  {{ item.name }}
                </span>
              </div>
            </td>
            <td>
              @if (item.lastModified) {
                {{ item.lastModified }}
              } @else {
                -
              }
            </td>
            <td>
              @if (item.size) {
                {{ item.size }}
              } @else {
                -
              }
            </td>
            <td>
              {{ item.mimeType }}
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
